<table border="1" width="700">

  <tr>
    <td>
      <h2 style="background:#4A235A; color:#ffffff; padding:25px;text-align:center;">Bienvenidos al Sistema de Asistencia</h2>
      <h3 style="color:#239B56;">Estimad@ <%= @user.nombres %>:</h3>
      <p>Sus credenciales de acceso al sistema son:</p>
      <p>Usuario: <b><%= @user.usuario %></b></p>
      <p>Contraseña: <b><%= @user.password %></b></p>
      </br>
      </br>
      <p>Saludos</p>
      <p>Area de RR.HH</p>
      <p style="text-align:center; font-size:10px;">© 2018 <b style="color: #4A235A;">Rihanna</b> - Proyecto UPC</p>
    </td>
  </tr>
</table>